@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Josefin Sans', sans-serif !important;
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.logo {
    font-family: 'Neuton', serif;
    font-weight: 700;
}

.slick-arrow:before {
    color: skyblue;
}

